/*
 * CodePress color styles for PHP syntax highlighting
 */

.php b {color:#000080;} /* tags */
.php strong var {color:red;}
.php big,.php big b,.php big em,.php big ins,.php big s,.php strong i,.php strong i b,.php strong i s,.php strong i u,.php strong i a,.php strong i a u,.php strong i s u,.php i var {color:gray;font-weight:normal;} /* comments */
.php s,.php s b,.php strong s u,.php s var,.php strong s cite {color:#5656fa;font-weight:normal;} /* attributes and strings */
.php strong a,.php strong a u {color:#006700;font-weight:bold;} /* variables */
.php em {color:#800080;font-style:normal;} /* style */
.php ins {color:#800000;} /* script */
.php strong u {color:#7F0055;font-weight:bold;} /* reserved words */
.php cite,.php s cite {color:red;font-weight:bold;} /* <?php and ?> */
.php tt { background:url('../skin/tab.jpg'); }