body {margin-top:5px;margin-left:2px;font-family:Monospace;
/* white-space:pre; */
font-size:13px;line-height:16px;}

P {margin:0;padding:0;border:0;outline:0;display:block;
/* white-space:pre; */
}
b, i, s, u, a, em, tt, ins, big, cite, strong, var, dfn {text-decoration:none;font-weight:normal;font-style:normal;font-size:13px;margin:0;padding:0;border:0;outline:0;}

/*added*/
pre {margin:0}

/*
body.hide-line-numbers {background:white;margin-left:16px;}
body.show-line-numbers {background-image:url("images/line-numbers.png");margin-left:32px;}
*/